header {
    color: rgb(0, 0, 0);
    height: 90px;
    width: 100%;
    padding: 0px 15px;
    /* background-color: rgb(250, 250, 113); */
    background-color: rgb(255, 198, 133);
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
}

ul {
    display: flex;
    list-style: none;
    /* padding: 0;
    margin: 0; */
}

a {
    /* color: #1500f7;
    text-decoration: none; */
    /* display: block; */
    /* /* line-height: 105px; */
    padding: 0 5px;
    /* justify-content: flex-end;
    align-items: flex-end; */
  }

  body {
    margin: 10;
    font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-color:rgb(249, 243, 232);
    font-size: 20px;
  }

  .url{
    color: #1500f7;
    text-decoration: none;
    /* display: block; */
    line-height: 105px;
    padding: 0 5px;
    /* justify-content: flex-end;
    align-items: flex-end; */
  }

.bar-chart-002 {
    font-size: 1em;
}

.bar-chart-002 > div {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.bar-chart-002 dt {
    width: 110px;
    min-width: 55px;
}

.bar-chart-002 dd {
    width: 80%;
    margin: 0;
    border-radius: 3px;
    background-color: #e3effc;
}

.bar-chart-002 span {
    display: inline-block;
    padding-right: 15px;
    border-radius: inherit;
    /* background-color: #3e8cf3; */
    color: #fffcfc;
    font-weight: 600;
    line-height: 45px;
    text-align: right;
    white-space: nowrap;
    animation: anima-bar-chart-002 1.2s ease;
}

.bar1 span{
  background-color: #ffec20;
}
.bar2 span{
  background-color: #ff0000;
}
.bar3 span{
  background-color: #d2a874;
}
.bar4 span{
  background-color: #00aaff;
}
.bar5 span{
  background-color: #20c040;
}

@keyframes anima-bar-chart-002 {
    from {
        width: 0;
    }
}

.nutl{
    display: flex;
    margin: 20px;
}

.purpose{
  margin-right: 20px;
  width: 300px;
  text-align: center;
  background-color: #ffd3b9;
}

.purpose-item{
  margin: 10px;
  /* width: 00px; */
  text-align: center;
  background-color: #ffffff;
}

.today{
  margin-right: 50px;
  margin-left: 20px;
  width: 300px;
  text-align: center;
  background-color: #ffd3b9;
}

.today-item{
  margin: 10px;
  /* width: 00px; */
  text-align: center;
  background-color: #ffffff;
}

.allow{
  text-align: center;
}

.dialy{
  display: flex;
  margin: 20px;
}

.dialy-item{
  background-color: #ffd3b9;
  margin: 10px;
  text-align: center;
  width: 500px;
}

.comment{
  width: 45em;
  max-width: 100%;
}


